/leaflet
/node_modules

*.txt
/.vscode
/.vs
/build
/mapData
/out
/_deps
/Personal Notes
/zlib
/include
/node_modules

*.exe
*.ilk
*.pdb
*.zip
*.cd
*.sln
*.vcxproj*
filePathDef.cpp
webmap.js
